<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
</head>
<body>
    <h1> SEJA BEM VINDO AO ECOMMERCE SEM NOME</h1>
        <section class="menu de navegação">
            <a href="/cdp" alt="Botão para a pagina de Cadastro">Cadastro de produto</a></br>
            <a href="Carrinho.html" alt="Botão para a pagina de Carrinho">Carrinho</a></br>
            <a href="Detalhes_produto.html" alt="Botão para a pagina de Detalhes do produto">Detalhes de produtos</a></br>
            <a href="Login.html" alt="Botão para a pagina de Login">Login</a></br>
            <a href="vendedor.html" alt="Botão para a pagina do vendedor">Administrador</a></br>
            <a href="index.html" alt="Botão para a pagina inicial">Página Inicial</a></br>
        </section>

        <section class="painel_inicial">
            <% if(msg != "") {  %>
                <section id="msg">
                    <p><%= msg %></p> <span id="close">&times;</span>
                </section>
            <% }  %>
            <% items.forEach(item => { %>
                <div class="produtos-dashboard">
                    <div class="produtos-dash-img">
                        <img src="/img/<%= item.img %>" alt="<%= item.nome %>">
                    </div>
                    <div class="produtos-dashname"><%= item.nome %></div>
                    <a href="/deletar/<%= item.id %>">DELETAR</a>
                    <a href="/update/<%= item.id %>">ATUALIZAR</a>
                </div>
            <% }); %>
        </section>


        <section class="painel">
            <!--função para mostrar funções do painel-->
        </section>
    </br>
        <footer>Todos os direitos reservados para Leonardo Fleck e Frederico Lima 2021</footer>
</body>
</html>